body{
    background-color: blueviolet;
}
h1 , p{
    text-align: center;
    color: white;
}
.flex{
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
    
}